body {
	background-color: #f9e1e1;
	font-family: sans-serif;
}

h1 {
	font-family: sans-serif;
	text-align: center;
	font-size: 40px;
	color: #af111c;
	text-shadow: 2px 2px #ffd1dc;
	margin-top: 30px;
}

h4 {
	font-family: sans-serif;
	text-align: center;
	font-size: 16px;
	color: #af111c;
	text-shadow: 2px 2px #ffd1dc;
	margin-top: 30px;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 187px;
	margin: 0 auto;
	max-width: 800px;
}

.box {
	width: 210px;
	height: 300px;
	margin: 20px;
	padding: 10px;
	text-align: center;
	border-radius: 20px;
	box-shadow: 0px 5px 5px rgba(0,0,0,0.25);
	background-color: #ffffff;
	transition: transform 0.3s ease-in-out;
}

.box:hover {
	transform: scale(1.05);
}

.box img {
	display: block;
	margin: auto;
	max-width: 100%;
	height: auto;
}

.box p {
	text-align: center;
	font-size: 20px;
	color: #af111c;
	text-shadow: 2px 2px #ffd1dc;
	margin-top: 10px;
}

.diff {
	background-color: #ffffff;
	border: 2px solid #555;
	box-shadow: 0 0 100px #555;
}

.diff p {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}